@keyframes reduce-radius-ls
  from
    r: 30px
  50%
    r: 25px
  to
    r: 30px

@keyframes reduce-radius-lm
  from
    r: 40px
  50%
    r: 35px
  to
    r: 40px

@keyframes rotation-svg
  from
    transform: none
  25%
    transform: rotate(10deg)
  50%
    transform: none
  75%
    transform: rotate(-10deg)
  to
    transform: none
