// HEIGHT
@media (max-height: 978px)
  .panel
    &__container
      justify-content: center
    &__decor
      display: none
  .social
    margin-top: 80px

@media (max-height: 900px)
  .social
    &__list
      gap: 20px

@media (max-height: 800px)
  .panel
    justify-content: start
  .title
    margin-top: 80px
  .social
    display: none

// WIDTH
@media (max-width: 1200px)
  .header
    &__phone
      margin-left: 47px

@media (max-width: 1066px)
  .header
    &__phone
      display: none

@media (max-width: 912px)
  .header
    border-bottom: solid 1px rgba(255, 255, 255, 0.25)

    &__container
      border: none
      width: 100%
      height: 99px
    &__order-call
      margin-right: 0


@media (max-width: 768px), (max-height: 590px)
  .panel
    width: 100%
    align-items: start
    margin: 0
    margin-top: 34px
    justify-content: start
  .panel__title
    transform: none
    writing-mode: horizontal-tb
    max-width: 100%
    margin: 0 48px
    text-align: center

@media (max-width: 480px)
  .order-call
    &__text
      display: none
  .header
    &__container
      height: 79px

  .order-call__img
    width: 60px
    height: 60px
  