.panel
  width: 50px
  height: 100vh
  max-height: 1046px
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  padding-bottom: 80px

  &__decor
    width: 1px
    max-height: 120px
    height: 100%
    background-color: rgba(255, 255, 255, 0.25)

  &--left
    position: fixed
    top: 34px
    left: 65px
    z-index: 100
