.title
  transform: rotate(180deg)
  writing-mode: vertical-lr
  max-width: 50px
  font:
    family: 'Roboto'
    weight: 500
    size: 12px
  text-transform: uppercase
  letter-spacing: 0.7em
  color: rgba(255, 255, 255, 0.5)
  margin: 0

